<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/MenuInicioComponent.css">
    
    <title>Menu-navegacion</title>
</head>
<body>
    <div style="text-align:center" class="component">
        <h1>Menu de navegacion</h1>
        <ul>
            <ol><a routerLink="/global/catalogo">Catalogos</a></ol>
            <ol><a routerLink="/empleado/encargados">Encargados</a></ol>
            <ol><a routerLink="/empleado/contactos">Contactos</a></ol>
            <ol><a routerLink="/productividad/detallesProducto">Detalles productos</a></ol>
            <ol><a routerLink="/productividad/material">Materiales</a></ol>
            <ol><a routerLink="/productividad/produccion">Produccion</a></ol>
            <ol><a routerLink="/productividad/producto">Productos</a></ol>   
            
        </ul>

    </div>
</body>
</html>