<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/MenuInicioComponent.css">
    
    <title>Menu-navegacion</title>
</head>
<body>
    <img src="" alt="#">
    <div class="component">
        <h1>Menu de navegacion</h1>
       
        <ul>
            <li><a routerLink="/catalogo">Catalogos</a></li>
            <li><a routerLink="/contactos">Contactos</a></li>
            <li><a routerLink="/detallesproductos">Detalles productos</a></li>
            <li><a routerLink="/encargados">Encaragados</a></li>
            <li><a routerLink="/materiales">Materiales</a></li>
            <li><a routerLink="/produccion">Produccion</a></li>
            <li><a routerLink="/productos">Productos</a></li>
        </ul>
    </div>
</body>
</html>
