<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/MenuInicioComponent.css">
    
    <title>Menu-navegacion</title>
</head>
<body>
    <div style="text-align:center" class="component">
        <h1>Menu de navegacion</h1>
        <ul>
            <ol><a routerLink="/catalogo">Catalogos</a></ol>
            <ol><a routerLink="/contactos">Contactos</a></ol>
            <ol><a routerLink="/detallesproductos">Detalles productos</a></ol>
            <ol><a routerLink="/encargados">Encaragados</a></ol>
            <ol><a routerLink="/materiales">Materiales</a></ol>
            <ol><a routerLink="/produccion">Produccion</a></ol>
            <ol><a routerLink="/productos">Productos</a></ol>   

            <p>Gracias por utilizar nuestros servicios</p>
            
        </ul>
    </div>
</body>
</html>
