/*Estilos footer*/

/*Estilos cards*/
.card-body{
    padding-top: 8px;
}
.card img {
    width:80px;
    height:80px;
}
.card{ 
    width:120px;
    height:130px;

    padding-top: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container-cards{ 
    display:grid;
    justify-content: center;
}
.card-text a{
    color: black;
}

/*Estilos navar*/
.container-nav img{
    width:100px;
    height:100px;
}
.rutaInicio{
    font-size: 55px;
}
/*Estilos generales*/
a{
    color: #1995ad;
}
/*Estilos body*/
body{

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
