/*Estilo separacion hr - linea*/
hr{
    width:80%;
}
/*Estilos container*/
.container{
    text-align:center;
}
/*Estilo fuente ruta nav*/
.rutaInicio p{ 
    margin: 0px;
}
.rutaInicio{
    font-size: 55px;
}
/*Estilos imagenes*/
.container-nav img{
    width:200px;
    height:200px;
}
/*Estilos links*/
a{
    color: #1995ad;
}
/*Estilo cuerpos*/
body{

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}